---
---

<div id="latest-posts"></div>

<script>
  const getLatestPosts = async () => {
    const posts = await fetch(
      "https://dev.to/api/articles?username=ricovz"
    ).then((res) => res.json());
    return posts.slice(0, 3);
  };

  const createPostCard = (post) => {
    const card = document.createElement("div");
    card.classList.add(
      "card",
      "shadow-xl",
      "p-1",
      "hover:bg-gradient-to-bl",
      "bg-gradient-to-tr",
      "from-base-200",
      "to-base-300",
      "hover:scale-[103.5%]",
      "duration-300"
    );
    card.innerHTML = `
      <div class="card lg:w-96 bg-base-100 h-full hover:shadow-2xl">
        <figure>
          <a href="${post.url}" target="_blank" rel="noreferrer">
            <img src="${post.cover_image}" alt="Article cover image" />
          </a>
        </figure>
        <div class="card-body">
          <a href="${post.url}" target="_blank" rel="noreferrer">
            <h2 class="card-title text-base-content ">${post.title}</h2>
          </a>
          <p class="text-neutral-content mb-4">${post.description}</p>
          <div class="card-actions justify-end mb-1">
            <a href="${post.url}" target="_blank" rel="noreferrer">
              <p class="text-base-content font-medium">
                Read article <i class="fa-solid fa-arrow-right-to-arc"> </i>
              </p>
            </a>
          </div>
          <div class="card-actions justify-end ">
            ${post.tag_list
              .slice(0, 2)
              .map(
                (tag) =>
                  `<span class="badge badge-outline text-primary px-2 py-4">#${tag}</span>`
              )
              .join("")}
          </div>
        </div>
      </div>
    `;
    return card;
  };

  const appendPostCards = (posts) => {
    const container = document.getElementById("latest-posts");
    container.classList.add(
      "grid",
      "grid-cols-1",
      "md:grid-cols-3",
      "gap-4",
      "mb-12"
    );
    posts.forEach((post) => container.appendChild(createPostCard(post)));
  };

  getLatestPosts().then(appendPostCards);
</script>
